---
import { Font } from 'astro:assets'
import config from 'virtual:config'

import { prod } from 'astro-pure/server'
import type { SiteMeta } from 'astro-pure/types'

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const siteTitle = `${title} ${config.titleDelimiter} ${config.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : config.socialCard, Astro.url).href
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* 网站图标配置 */}
<link rel='icon' type={config.favicon.type} href={config.favicon.href} />
<link rel='shortcut icon' type={config.favicon.type} href={config.favicon.href} />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />

{/* 字体预加载:提升页面加载性能 */}
<Font cssVariable='--font-satoshi' preload={[{ subset: 'latin', style: 'normal' }]} />
<style>
  body {
    font-family: var(--font-satoshi);
  }
</style>

{/* 规范化 URL:用于 SEO */}
<link rel='canonical' href={canonicalURL} />

{/* 主要元标签:页面基本信息 */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={config.author} name='author' />

{/* 主题颜色配置 */}
{/* <meta content='' name='theme-color' /> */}
<meta name='color-scheme' content='light dark' />

{/* Open Graph / Facebook 元标签:用于社交媒体分享 */}
<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={config.title} property='og:site_name' />
<meta content={config.locale.attrs} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
{
  // 如果是文章页面,添加文章相关元信息
  articleDate && (
    <>
      <meta content={config.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
    </>
  )
}

{/* Twitter 卡片元标签:用于 Twitter 分享 */}
<meta content='summary_large_image' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />

{/* 网站地图 */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS 订阅自动发现 */}
<link
  rel='alternate'
  type='application/rss+xml'
  title={config.title}
  href={`${Astro.site}rss.xml`}
/>

{/* Astro 生成器标识 */}
<meta content={Astro.generator} name='generator' />

{
  /* 生产环境控制台输出主题信息 */
  prod && (
    <script>
      console.log( '%c Astro Theme Pure %c https://github.com/Wea1her/astro-theme-pure/',
      'color:#fff;background:linear-gradient(90deg,#448bff,#44e9ff);padding:5px 0;',
      'color:#000;background:linear-gradient(90deg,#44e9ff,#ffffff);padding:5px 10px 5px 0px;' )
    </script>
  )
}
